body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.form-con{
    background-color: blueviolet;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow:0 0 10px black;
    
}
#submit-btn{
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
}
#resetpassword{
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
}
input{
    border-radius: 8px;
    border:none;
    padding: 10px;
}